# Install necessary packages (GPU version with CUDA 12.1)
regex
pandas
numpy
tqdm
openpyxl
soynlp
torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu121
sentence-transformers
FlagEmbedding