# Install necessary packages (GPU version with CUDA 12.4)
# GPU 버전 PyTorch 설치 (CUDA 12.4)
--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision

regex
pandas
numpy
tqdm
openpyxl
soynlp
jieba
mecab_ko
mecab-ko-msvc
mecab-ko-dic-msvc
prompt_toolkit

# 추가 필요
transformers
FlagEmbedding
sentence-transformers
openai
cohere